<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Bot</title>
</head>
<body>
  <h1>Restaurant Chat-bot</h1>
  <div>
    <p>Select "1" to place an order</p>
    <p>Select "99" to checkout order</p>
    <p>Select "98" to see order history</p>
    <p>Select "97" to see current order</p>
    <p>Select "0" to cancel order</p>
  </div>
  <form id="form" action="" method="post">
    <input type="text" id="input" required> <button type="submit">Send</button>
  </form>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://localhost:5000/js/app.js"></script>
</body>
</html>